In [1]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('data/skills_dataset copy.csv', sep=';')

In [37]:
df['random'] = np.random.rand(df.shape[0])

In [28]:
np.random.rand(df.shape[0])

array([0.18639414, 0.04075428, 0.69727035, ..., 0.94922443, 0.42831492,
       0.1233602 ])

In [32]:
df = df[['skill_normalized', 'domain', 'field', 'type_of_skill']].drop_duplicates()
# df['skill_normalized'].value_counts()

In [34]:
df[df['skill_normalized'].isin(['Sketch', 'Computer Science', 'Maintenance','Military Occupational Specialties'])]

,skill_normalized,domain,field,type_of_skill
2027,Maintenance,General,General,Soft
1421,Computer Science,"General, Computer Science",IT,Hard
990,Sketch,"Design, Art, Modeling",Design,Hard
9772,Military Occupational Specialties,Military,Military,Hard
991,Sketch,"Design, Art, Modeling",Design,"Hard, Soft"
9653,Military Occupational Specialties,"Military, Health and Safety","Military, Healthcare","Hard, Soft"
1875,Computer Science,"Computer Science, Software Engineering",IT,Hard
2151,Maintenance,General,"Automotives, General",Hard

In [24]:
# df['skill_normalized'].value_counts()

skill_normalized
Sketch                               2
Computer Science                     2
Maintenance                          2
Military Occupational Specialties    2
.NET                                 1
                                    ..
Environmental Science                1
Environmental and Regulatory Law     1
Epidemiology                         1
Event Planning                       1
vSphere                              1
Name: count, Length: 788, dtype: int64

In [29]:
df.sort_values(by=df['skill_normalized'].value_counts(), inplace=True)
df

In [40]:
df['skill_normalized'].value_counts().to_csv('skill_normalized_counts.csv')

In [38]:
df = df.sort_values(by='random')
df = df.drop('random', axis=1)

In [39]:
df[['skill_raw', 'skill_normalized']].to_csv('skills_dataset_random.csv', index=False, sep=';')

In [8]:
df = pd.read_csv('skill_normalized_counts.csv')

In [10]:
df [df['too_generic'] == 1]

          skill_normalized  too_generic
54                Teamwork            1
71             Proactivity            1
74              Resilience            1
75              Work Ethic            1
77           Well Educated            1
78             Engineering            1
83         Time Management            1
102          Good Attitude            1
103          Result Driven            1
120             Tech Savvy            1
127           New Business            1
155           Productivity            1
162    Attention to Detail            1
177         Accountability            1
181             Technician            1
182             Passionate            1
195               Autonomy            1
197      Critical Thinking            1
210  Prioritization Skills            1
216              Qualified            1
220   Microsoft PowerPoint            1
222      Digital Awareness            1
277            Consultancy            1
283                 Talend            1
284          Consolidation            1
288         Microsoft Word            1
350       Characterization            1
402         Service Change            1
546        Online Research            1
587              Pragmatic            1
602                  field            1
603                Workday            1
611               Gaussian            1
637             innovation            1
719   Microsoft Powerpoint            1
723         Prioritizazion            1
744           Volunteering            1
778       Digital Literacy            1

In [ ]:
['Teamwork',
'Proactivity',
'Resilience',
'Work Ethic',
'Well Educated',
'Time Management',
'Good Attitude',
'Result Driven',
'Tech Savvy',
'New Business',
'Productivity',
'Attention to Detail',
'Accountability',
'Technician',
'Passionate',
'Autonomy',
'Critical Thinking',
'Prioritization Skills',
'Qualified',
'Microsoft PowerPoint',
'Digital Awareness',
'Consultancy',
'Talend',
'Consolidation',
'Microsoft Word',
'Characterization',
'Service Change',
'Online Research',
'Pragmatic',
'field',
'Workday',
'Gaussian',
'innovation',
'Microsoft Powerpoint',
'Prioritizazion',
'Digital Literacy',
'Corrective and Preventive Action',
'Google Earth',
'Precision',
'Volunteering',
'Language Proficiency',
'Flexibility',
'Engineering',
'Consultancy',
'Multitasking',
'Leisure',]

In [11]:
import pandas as pd
import numpy as np
import openai
import os

In [12]:
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
openai.api_key = OPENAI_API_KEY

In [3]:
df = pd.read_csv('data/example_dataset.csv', sep=';')

In [4]:
df = df.sample(frac=1).reset_index(drop=True)

In [25]:
csv_string = df.to_csv(index=False, sep=';')

In [26]:
csv_string

"animal_name_raw; observations; common_name; possible_scientific_name\nPandda;possible typo;Panda;Ailuropoda melanoleuca\nRhino;short form;Rhinoceros;Rhinocerotidae\nGirrafe;possible typo;Giraffe;Giraffa camelopardalis\nLong Necked Spotter;refers to a giraffe's long neck and spots;Giraffe;Giraffa camelopardalis\nMonkay;possible typo;Monkey;Simiiformes\nsputatore del Sudafrica;italian name for ringhals, It is not a true cobra in that it does not belong to the genus Naja, but instead belongs to the monotypic genus Hemachatus;ringhals;Hemachatus haemachatus\nlupo;italian for wolf;Wolf;Canis lupus\nanimal_name_raw; observations; common_name; possible_scientific_names\nanimal_name_raw; observations; common_name; possible_scientific_names\nkingCobra;na;King Cobra;Ophiophagus hannah\nDog;na;Dog;Canis lupus familiaris\nDoog\\;probaly a typo;Dog;Canis lupus familiaris\nElefant;german for elephant;Elephant;Loxodonta africana\nLoin;possible typo;Lion;Panthera leo\nElephante;possible typo;Elephant;Loxodonta africana\nMono;spanish for monkey;Monkey;Simiiformes\nTuxedo Bird;refers to a penguin's black and white plumage;Penguin;Spheniscidae\nOne Horned Wonder;refers to a rhinoceros's single horn;Rhinoceros;Rhinocerotidae\nSilent Hunter;refers to an owl's silent flight while hunting;Owl;Strigiformes\nHippopotame;french for hippopotamus;Hippopotamus;Hippopotamus amphibius\nHoney Hoarder;refers to a bear's love for honey;Bear;Ursidae\nChihuahua;this is a particular breed of dog;Dog;Canis lupus familiaris\nRinoceronte;italian for rhinoceros;Rhinoceros;Rhinocerotidae\nPenguino;possible typo;Penguin;Aptenodytes forsteri\nHipopotamus;possible typo;Hippopotamus;Hippopotamus amphibius\nCat;na;Cat;Felis catus\nthis is my horse;na;Horse;Equus ferus caballus\nKangoroo;possible typo;Kangaroo;Macropus\nKoala bear;common misconception, not a bear;Koala;Phascolarctos cinereus\nCow;na;Cow;Bos taurus\nDesert Ship;refers to a camel's ability to travel long distances in the desert;Camel;Camelus\nsiameise cat;na;Cat;Felis catus\nRingtail Leaper;refers to a lemur's long, ringed tail and jumping ability;Lemur;Lemuridae\nPinguin;german for penguin;Penguin;Aptenodytes forsteri\nGirafe;french for giraffe;Giraffe;Giraffa camelopardalis\nZebrra;possible typo;Zebra;Equus quagga\nZèbre;french for zebra;Zebra;Equus quagga\nLaughing Hyena;refers to the hyena's distinctive 'laughing' call;Hyena;Hyaenidae\nKangourou;french for kangaroo;Kangaroo;Macropus\nLeón;spanish for lion;Lion;Panthera leo\nPand;short form;Panda;Ailuropoda melanoleuca\ndog;na;Dog;Canis lupus familiaris\n"

In [30]:
print(csv_string)

animal_name_raw; observations; common_name; possible_scientific_name
Pandda;possible typo;Panda;Ailuropoda melanoleuca
Rhino;short form;Rhinoceros;Rhinocerotidae
Girrafe;possible typo;Giraffe;Giraffa camelopardalis
Long Necked Spotter;refers to a giraffe's long neck and spots;Giraffe;Giraffa camelopardalis
Monkay;possible typo;Monkey;Simiiformes
sputatore del Sudafrica;italian name for ringhals, It is not a true cobra in that it does not belong to the genus Naja, but instead belongs to the monotypic genus Hemachatus;ringhals;Hemachatus haemachatus
lupo;italian for wolf;Wolf;Canis lupus
animal_name_raw; observations; common_name; possible_scientific_names
animal_name_raw; observations; common_name; possible_scientific_names
kingCobra;na;King Cobra;Ophiophagus hannah
Dog;na;Dog;Canis lupus familiaris
Doog\;probaly a typo;Dog;Canis lupus familiaris
Elefant;german for elephant;Elephant;Loxodonta africana
Loin;possible typo;Lion;Panthera leo
Elephante;possible typo;Elephant;Loxodonta africana
Mono;spanish for monkey;Monkey;Simiiformes
Tuxedo Bird;refers to a penguin's black and white plumage;Penguin;Spheniscidae
One Horned Wonder;refers to a rhinoceros's single horn;Rhinoceros;Rhinocerotidae
Silent Hunter;refers to an owl's silent flight while hunting;Owl;Strigiformes
Hippopotame;french for hippopotamus;Hippopotamus;Hippopotamus amphibius
Honey Hoarder;refers to a bear's love for honey;Bear;Ursidae
Chihuahua;this is a particular breed of dog;Dog;Canis lupus familiaris
Rinoceronte;italian for rhinoceros;Rhinoceros;Rhinocerotidae
Penguino;possible typo;Penguin;Aptenodytes forsteri
Hipopotamus;possible typo;Hippopotamus;Hippopotamus amphibius
Cat;na;Cat;Felis catus
this is my horse;na;Horse;Equus ferus caballus
Kangoroo;possible typo;Kangaroo;Macropus
Koala bear;common misconception, not a bear;Koala;Phascolarctos cinereus
Cow;na;Cow;Bos taurus
Desert Ship;refers to a camel's ability to travel long distances in the desert;Camel;Camelus
siameise cat;na;Cat;Felis catus
Ringtail Leaper;refers to a lemur's long, ringed tail and jumping ability;Lemur;Lemuridae
Pinguin;german for penguin;Penguin;Aptenodytes forsteri
Girafe;french for giraffe;Giraffe;Giraffa camelopardalis
Zebrra;possible typo;Zebra;Equus quagga
Zèbre;french for zebra;Zebra;Equus quagga
Laughing Hyena;refers to the hyena's distinctive 'laughing' call;Hyena;Hyaenidae
Kangourou;french for kangaroo;Kangaroo;Macropus
León;spanish for lion;Lion;Panthera leo
Pand;short form;Panda;Ailuropoda melanoleuca
dog;na;Dog;Canis lupus familiaris

In [27]:
def call_api_with_timeout(prompt):
    risp = openai.Completion.create(
                        model='gpt-3.5-turbo-instruct',
                        prompt=prompt,
                        temperature=0.0,
                        max_tokens=100,)
    return risp.choices[0]['text']

In [29]:
print(call_api_with_timeout(csv_string))

animal_name_raw; observations; common_name; possible_scientific_names

Pandda;possible typo;Panda;Ailuropoda melanoleuca
Rhino;short form;Rhinoceros;Rhinocerotidae
Girrafe;possible typo;Giraffe;Giraffa camelopardalis
Long Necked Spotter;refers to a giraffe's long neck and spots;Giraffe;Giraff