In [1]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('data/skills_dataset copy.csv', sep=';')

In [37]:
df['random'] = np.random.rand(df.shape[0])

In [28]:
np.random.rand(df.shape[0])

array([0.18639414, 0.04075428, 0.69727035, ..., 0.94922443, 0.42831492,
       0.1233602 ])

In [32]:
df = df[['skill_normalized', 'domain', 'field', 'type_of_skill']].drop_duplicates()
# df['skill_normalized'].value_counts()

In [34]:
df[df['skill_normalized'].isin(['Sketch', 'Computer Science', 'Maintenance','Military Occupational Specialties'])]

,skill_normalized,domain,field,type_of_skill
2027,Maintenance,General,General,Soft
1421,Computer Science,"General, Computer Science",IT,Hard
990,Sketch,"Design, Art, Modeling",Design,Hard
9772,Military Occupational Specialties,Military,Military,Hard
991,Sketch,"Design, Art, Modeling",Design,"Hard, Soft"
9653,Military Occupational Specialties,"Military, Health and Safety","Military, Healthcare","Hard, Soft"
1875,Computer Science,"Computer Science, Software Engineering",IT,Hard
2151,Maintenance,General,"Automotives, General",Hard

In [24]:
# df['skill_normalized'].value_counts()

skill_normalized
Sketch                               2
Computer Science                     2
Maintenance                          2
Military Occupational Specialties    2
.NET                                 1
                                    ..
Environmental Science                1
Environmental and Regulatory Law     1
Epidemiology                         1
Event Planning                       1
vSphere                              1
Name: count, Length: 788, dtype: int64

In [29]:
df.sort_values(by=df['skill_normalized'].value_counts(), inplace=True)
df

In [40]:
df['skill_normalized'].value_counts().to_csv('skill_normalized_counts.csv')

In [38]:
df = df.sort_values(by='random')
df = df.drop('random', axis=1)

In [39]:
df[['skill_raw', 'skill_normalized']].to_csv('skills_dataset_random.csv', index=False, sep=';')

In [8]:
df = pd.read_csv('skill_normalized_counts.csv')

In [10]:
df [df['too_generic'] == 1]

          skill_normalized  too_generic
54                Teamwork            1
71             Proactivity            1
74              Resilience            1
75              Work Ethic            1
77           Well Educated            1
78             Engineering            1
83         Time Management            1
102          Good Attitude            1
103          Result Driven            1
120             Tech Savvy            1
127           New Business            1
155           Productivity            1
162    Attention to Detail            1
177         Accountability            1
181             Technician            1
182             Passionate            1
195               Autonomy            1
197      Critical Thinking            1
210  Prioritization Skills            1
216              Qualified            1
220   Microsoft PowerPoint            1
222      Digital Awareness            1
277            Consultancy            1
283                 Talend            1
284          Consolidation            1
288         Microsoft Word            1
350       Characterization            1
402         Service Change            1
546        Online Research            1
587              Pragmatic            1
602                  field            1
603                Workday            1
611               Gaussian            1
637             innovation            1
719   Microsoft Powerpoint            1
723         Prioritizazion            1
744           Volunteering            1
778       Digital Literacy            1

In [ ]:
['Teamwork',
'Proactivity',
'Resilience',
'Work Ethic',
'Well Educated',
'Time Management',
'Good Attitude',
'Result Driven',
'Tech Savvy',
'New Business',
'Productivity',
'Attention to Detail',
'Accountability',
'Technician',
'Passionate',
'Autonomy',
'Critical Thinking',
'Prioritization Skills',
'Qualified',
'Microsoft PowerPoint',
'Digital Awareness',
'Consultancy',
'Talend',
'Consolidation',
'Microsoft Word',
'Characterization',
'Service Change',
'Online Research',
'Pragmatic',
'field',
'Workday',
'Gaussian',
'innovation',
'Microsoft Powerpoint',
'Prioritizazion',
'Digital Literacy',
'Corrective and Preventive Action',
'Google Earth',
'Precision',
'Volunteering',
'Language Proficiency',
'Flexibility',
'Engineering',
'Consultancy',
'Multitasking',
'Leisure',]